#app {
	background-color: #f4f5f7; 
}

.header {
	text-align: center;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	color: #949699;
	background-color: #f2f2f2;
	padding: 15px;
	margin-top: 0px;
	border: solid #edeff2 2px;
}

#img1 {
	background: url(http://www.bestoforlando.com/common_resources/images/kennedy-space-center-spacex-launch.jpg);
	height: 46vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

#img2 {
	background: url(http://static.thousandwonders.net/Cape.Canaveral.Air.Force.Station.original.4699.jpg);
	height: 46vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

#img2 {
	margin-top: 3px;
}	

#kennedyButton, #cocoaButton {
	padding: 5px;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
	background-color: #4192f4;
	font-weight: bold;
	color: white;
}

#kennedyButton, #cocoaButton {
	position: absolute;
	left: 3%;
	right: 3%;
	bottom: 2%;
	width: auto;
}

@media screen and (min-width: 641px) {
	#img1, #img2 {
		height: 80vh;
	}

	#img1 {
		margin-right: 5px;
	}

	#img2 {
	margin-top: 0px;
	}	

	#images {
		display: flex;
	}

	.rocketImageBox {
		display: flex;
		height: 70vh;
		width: 100px;
		margin-bottom: 5px;
		margin-right: 10px;
		
	}
}

.scheduleBlock {
	border: solid black 1px;
	padding: 15px;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}

#resultImg {
	height: 150px;
	width: 30%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
}

.returnB {
	padding: 5px;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	color: #949699;
	font-size: 17px;
	font-weight: bold;
	background-color: #f2f2f2;
	border: solid #adafb2 2px;
}
